.footer {
  .container {
    @media (min-width: $media) and (max-width: 1015px) {
      width: 100%;
    }
  }
}
.footer__wrapper {
  // background: radial-gradient(50% 50% at 50% 50%, rgba(38, 43, 63, 0.93) 0%, #262B3F 100%);
  background: #262b3f;
}
.footer__body {
  width: 100%;
  height: 100%;
  padding:10% 0% 9.6% 0%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(38, 43, 63, 0.93) 0%, #262B3F 100%);
  @include jucb();
  position: relative;
  
  @media (min-width: 1016px) and (max-width: 1770px) {
    @include jucc();
  }
  @media (min-width: $media+1px) and (max-width: 1015px) {
    @include jucb();

  }
  @media (min-width: 0px) and (max-width: $media) {   
    min-height: 1100px;
     }


.designers__look {
  
position: relative;
position: absolute;
width: 304px;
  height: 45px;
  top: 15%; 
  left: 74%;
  @include anim(0.2s);
&:hover{
  transform: scale(1.05);
  cursor: pointer;
}
@include center();
  @media (min-width: 1016px) and (max-width: 1360px) {
    @include center();
    top: 20%;
    left: 70%;
  }
  @media (min-width: $media+1px) and (max-width: 1015px) {
    top: 20%;
    left: 54%;
  }
  @media (min-width: 0px) and (max-width: $media) {
    display: none;
  }
  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    color: #ffffff;
    opacity: 0.7;
    margin-left: 8px;
    @media (min-width: $media) and (max-width: 1360px) {
      font-size: 11px;
    }
  }
  .flash {
    opacity: 1;
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }
}


.footer__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 0% 0% 1.7% 0%;
  flex: 0 1 100%;
  position: relative;
  
  // Работаем в Москве и области в радиусе 200 км
  @media (min-width: $media+1px) and (max-width: 1015px) {
    font-size: 22px;
  }
  @media (min-width: 0px) and (max-width: $media) {
    font-size: 16px;text-align: center;
    padding: 0% 0% 0% 0%;
    order: -3;
  }
}
.footer__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  flex: 0 1 100%;
  padding: 0% 0% 4.5% 0%;
  // Готовы обсудить проект с выездом за пределы
  @media (min-width: 0px) and (max-width: $media) {
    font-size: 12px;
    padding: 0% 5% 4.5% 5%;
    line-height: 18px;
    text-align: center;
    // order: 2;
    order: -2;
  }
}
.footer__plaha {
  position: relative;
  flex: 0 1 33%;
  background: #343a52;
  border-radius: 10px;
  @include jucs();
  padding: 4.5% 0% 4.5% 4.8%;
  .footer-plaha__body {
    @media (min-width: 0px) and (max-width: $media) {
      @include fdc();
      @include alic();
    }
  }
  @media (min-width: 1015px) and (max-width: 1360px) {
    padding: 4.5% 2% 4.5% 2.8%;
  }

  @media (min-width: $media+1px) and (max-width: 1015px) {
    flex: 0 1 28%;
  }
 
  @media (min-width: 0px) and (max-width: $media) {
    padding: 0% 0% 0% 0%;
    width: 308px;
    min-height: 598px;
    flex: 0 1 100%;
  }
}

.footer-plaha__text1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  // Наши контакты:
  padding: 8.6% 5% 0% 0%;
  &:first-child {
    padding: 0% 0% 0% 0%;
    @media (min-width: 0px) and (max-width: $media) {
      padding: 8% 0% 0% 10%;
      width: 100%;
      font-size: 12px;
    }
  }
  @media (min-width: $media+1px) and (max-width: 1360px) {
    font-size: 14px;
  }


  @media (min-width: 0px) and (max-width: $media) {
    padding: 6% 0% 0% 10%;
    width: 100%;
    font-size: 12px;
  }
}
.footer-plaha__text2 {
  // +7 (926) 844-43-33img(src="assets/img/footer/footer-1.svg",alt="img")
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  position: relative;
  padding-left: 45px;
  margin: 6% 0 8%;
  @media (min-width: $media+1px) and (max-width: 1360px) {
    font-size: 12px;
  }

  @media (min-width: 0px) and (max-width: $media) {
    padding: 0% 0% 0% 25%;
    width: 100%;
    font-size: 10px;
    margin: 5% 0 3%;
  }
  img {
    position: absolute;
    width: 46px;
    height: 42px;
    top: 75%;
    left: -10px;
    transform: translate(0%, -50%);
    @media (min-width: 0px) and (max-width: $media) {
      width: 40px;
      left: 21px;
    }
  }
}

.thl__icons {
  margin: 6.5% 0% auto 4%;
  @media (min-width: 0px) and (max-width: $media) {
    width: 100%;
    margin: 3.5% 0% 0% 0%;
    padding: 0% 0% 0% 10%;
  }
  
  .thl__icon {
    margin-right: 16px;
      @include anim(0.2s); 

&:hover{
  img{
     transform: scale(1.05);
  cursor: pointer;
  }
 
}

    @media (min-width: 0px) and (max-width: $media) {
      margin-right: 37px;
    }


  }

}
.footer__map {
  position: relative;
  flex: 0 1 66%;
  height: 37vw;
  margin-top: 2%;
  @media (min-width: 1361px) and (max-width: 1770px) {
    flex: 0 1 50%;
    margin: 2% 0% 0% 3%;
  }
  @media (min-width: 1016px) and (max-width: 1360px) {
    flex: 0 1 62%;
    margin: 10% 0% 0% 3%;
    height: 45vw;
  }
  @media (min-width: $media+1px) and (max-width: 1015px) {
    flex: 0 1 60%;
    height: 54vw;
    margin: 10% 0% 0% 3%;
  }
  @media (min-width: 0px) and (max-width: $media) {
    height: 287px;
    flex: 0 1 100%;
    order: -1;
  }
}

.footer-plaha__button {
  padding: 20% 0% 0% 0%;
  
  @media (min-width: 0px) and (max-width: $media) {   padding: 13% 0% 10% 0%; 
  
  }
  
  .button-color {
    width: 266px;
    height: 59px;
    @media (min-width: $media+1px) and (max-width: 1360px) {
      width: 227px;
      height: 59px;
    }
    @media (min-width: 0px) and (max-width: $media) {
      width: 266px;
      height: 59px;

    }
  }
   
  .button-color__link {
    span {
      @media (min-width: $media+1px) and (max-width: 1360px) {
        font-size: 14px;
      }
      @media (min-width: 0px) and (max-width: $media) {
        font-size: 15px;
      }
    }
  }
}

}


