.projects__wrapper {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(38, 43, 63, 0.94) 0%,
    #262b3f 100%
  );
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.projects__body {
  width: 100%;
  height: 100%;
  padding: 1% 0% 10.5% 0%;
}
h2.projects__title {
  font-family: Montserrat-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  @media (min-width: 0px) and (max-width: $media) {
    font-size: 16px;
  }
  // Посмотрите наши проекты
}

.projects__nav {
  padding: 4.2% 0% 0% 0%;
}

.projects-nav__body {
  @include jucb();

  @media (min-width: $media+1px) and (max-width: 1480px) {
    width: 60%;
  }
  @media (min-width: 0px) and (max-width: $media) {
  }
}
//  --------------

.projects-nav__item {
  @include center();
  position: relative;
  width: 140px;
  height: 40px;

  @media (min-width: 1481px) and (max-width: 1860px) {
    width: 130px;
  }
  @media (min-width: 801px) and (max-width: 1480px) {
    margin: 1% 0% 1% 0%;
  }
  @media (min-width: 0px) and (max-width: 800px) {
    margin: 1% 0% 1% 0%;
  }

  .projects-nav__img-active {
    @include anim(0.2s);
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  .projects-nav__img-normal {
    @include anim(0.2s);
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #ffffff;
    z-index: 2;
    //  Шкафы Купе
  }

  &:hover {
    transform: scale(1.05);
    img.projects-nav__img-normal {
      position: absolute;
      top: 0%;
      left: 0%;
      opacity: 0;

    }
    img.projects-nav__img-active {
      position: absolute;
      top: 0%;
      left: 0%;
      opacity: 1;
    }
  }
}

// --------------------

.projects__galery {
  padding: 3.1% 0% 0%;

.projects-galery__body {
  @include jucb();
  padding: 0% 1% 0% 1%;

  .projects-galery__item {
    position: relative;
    flex: 0 1 49.3%;
    padding: 0% 0% 30.9% 0%;
    // @include anim(0.2s);
    margin: 0% 0% 2% 0%;
    // для mixitup
display: none;
    @media (min-width: 801px) and (max-width: 1246px) {
      flex: 0 1 100%;
    }
    @media (min-width: 0px) and (max-width: 800px) {
      width: 297px;
      height: 176px;
      flex: 0 1 100%;
    }

    .projects-galery__link {
      opacity: 0;
      position: relative;
      position: absolute;
      top: 82.3%;
      left: 62%;
      width: 120px;
      height: 24px;
      @include anim(0.2s);

      @media (min-width: $media) and (max-width: 1420px) {
        width: 80px;
        height: 24px;
        @include center();
      }

      span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #ffffff;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 109px;
        height: 24px;
        z-index: 4;
        // @include anim(0.2s);
        @media (min-width: $media+1px) and (max-width: 1420px) {
          font-size: 12px;
          line-height: 2;
        }
        @media (min-width: 0px) and (max-width: $media) {
          display: none;
        }
      }

      a {
        position: relative;
        position: absolute;
        top: 50%;
        left: 110%;
        transform: translate(0%, -50%);
        width: 34px;
        height: 34px;
        background: linear-gradient(
          180deg,
          #ed5985 0%,
          #c746ad 50.52%,
          #7443d9 100%
        );
        border-radius: 50%;
        z-index: 4;
        @media (min-width: 0px) and (max-width: $media) {
          left: 52%;
          top: 28%;
        }

        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          top: 50%;
          left: 50%;
          z-index: 5;
          border-bottom: 2px solid #ffff;
          border-left: 2px solid #ffff;
          transform: translate(-70%, -50%) rotate(-135deg);
          @include anim(0.2s);
        }

        &:hover {
          &:after {
            border-bottom: 2px solid #363c52;
            border-left: 2px solid #363c52;
          }
        }
      }
    }

    .projects-galery__mask {
      opacity: 0;
      @include anim(0.2s);
      background: #232323;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      z-index: 4;
    }

    &:hover {
      .projects-galery__mask {
        opacity: 0.7;
      }

      .projects-galery__link {
        opacity: 1;
        z-index: 4;
      }
    }

    //  ----------------             //
    .projects-galery__discr {
      position: relative;
      width: 279px;
      height: 40px;
      position: absolute;
      top: 80%;
      left: 7%;
      @include center();
      z-index: 4;
      @media (min-width: $media+1px) and (max-width: 1420px) {
        width: 230px;
        height: 40px;
      }
      @media (min-width: 0px) and (max-width: $media) {
        width: 184px;
        height: 29px;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
      }

      span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #ffffff;
        z-index: 2;
        //  Современный шкаф купе
        @media (min-width: $media+1px) and (max-width: 1420px) {
          font-size: 12px;
        }
        @media (min-width: 0px) and (max-width: $media) {
          font-size: 10px;
          line-height: 130%;
        }
      }
    }
  }
}
}


// ---------
.projects-galery-hidden {
  opacity: 0;
   @include anim(0.2s);
    
.projects-galery__body .projects-galery__item{
    position: relative;
    padding: 0% 0% 0% 0% ;
    margin: 0% 0% 0% 0%;
  }
 
 
}
 
.projects-galery-hidden_active{
opacity: 1; 
  .projects-galery__body .projects-galery__item{
    padding: 0% 0% 30.9% 0% !important;
    margin: 0% 0% 2% 0%;
  }
}




// ----------------------------------

.projects__button {
  @include jucc();
  margin: 4% 0% 0% 0%;

  .button-color {
    @media (min-width: $media+1px) and (max-width: 1246px) {
      width: 308px;
      height: 58px;
    }
    @media (min-width: 0px) and (max-width: $media) {
      width: 300px;
      height: 57px;
      span {
        font-size: 15px;
      }
    }
  }
}
