section#calc.calc
  .calc__wrapper
    .container
      .calc__body
        .calc__item
          .bg(style='background-image: url("assets/img/calc/calc-1.jpg");' ) 
          .calc__title Кухни
          .calc__button-left.calc-button
            .button-color
              a.button-color__link(href="#")
                span Подробнее
          .calc__button-right.calc-button
            .button-color
              a.button-color__link(href="#")
                span Консультация
        .calc__item
          .ibg.bg
            img(src="assets/img/calc/calc-2.jpg",alt="")
          .calc__title Шкафы
          .calc__button-left.calc-button
            .button-color
              a.button-color__link(href="#")
                span Подробнее
          .calc__button-right.calc-button
            .button-color
              a.button-color__link(href="#")
                span Консультация
        .calc__item
          .ibg.bg
            img(src="assets/img/calc/calc-3.jpg",alt="")
          .calc__title Гостиная
          .calc__button-left.calc-button
            .button-color
              a.button-color__link(href="#")
                span Подробнее
          .calc__button-right.calc-button
            .button-color
              a.button-color__link(href="#")
                span Консультация
        .calc__item
          .ibg.bg
            img(src="assets/img/calc/calc-4.jpg",alt="")
          .calc__title Прихожая
          .calc__button-left.calc-button
            .button-color
              a.button-color__link(href="#")
                span Подробнее
          .calc__button-right.calc-button
            .button-color
              a.button-color__link(href="#")
                span Консультация
        .calc__item
          .ibg.bg
            img(src="assets/img/calc/calc-5.jpg",alt="")
          .calc__title Ванная
          .calc__button-left.calc-button
            .button-color
              a.button-color__link(href="#")
                span Подробнее
          .calc__button-right.calc-button
            .button-color
              a.button-color__link(href="#")
                span Консультация
        .calc__item
          .ibg.bg
            img(src="assets/img/calc/calc-6.jpg",alt="")
          .calc__title Детская
          .calc__button-left.calc-button
            .button-color
              a.button-color__link(href="#")
                span Подробнее
          .calc__button-right.calc-button
            .button-color
              a.button-color__link(href="#")
                span Консультация
        .calc__link.calc-link
          .calc-link__body
            .calc-link__img
              img(src="assets/img/calc/calc-7.png",alt="img")
            .calc-link__title Рассчитаем стоимость вашего проекта
            .calc-link__text и дадим грамотные рекомендации уже сегодня
            form.calc-link__forma 
              .calc-link__in
                input#username(type='text', name='username', placeholder='Ваше имя:', required='')
                img(src="assets/img/calc/calc-vector-3.svg",alt="img") 
              .calc-link__in
                input#username(type='text', name='usernamephone', placeholder='Ваш телефон', required='')
                img(src="assets/img/calc/calc-vector-2.svg",alt="img")
              .calc-link__in.calc-link__in_visual
                a(href="#")
                  span Прикрепите визуализацию
                img(src="assets/img/calc/calc-vector-1.svg",alt="img")
              .calc-link__button
                input(type='submit', name='submit', value='Расчитать стоимость')
                .button-color
            a.calc-link__person(href="#") Вы соглашаетесь на обработку персональных данных

        .calc__messengers.calc-messengers
          .calc-messengers__body
            .calc-messengers__title У вас есть вопросы?  
            .calc-messengers__text Задайте их удобным способом
            .calc-messengers__icons
              .calc-messengers-icon
                img(src="assets/img/calc/calc-vector-4.svg",alt="img")
              .calc-messengers-icon
                img(src="assets/img/calc/calc-vector-5.svg",alt="img")
              .calc-messengers-icon
                img(src="assets/img/calc/calc-vector-6.svg",alt="img")
            a.calc-messengers__button(href="#")
              span Заказать звонок
              img(src="assets/img/calc/calc-8.png",alt="img")