include ../utils/mixins
section#collect.collect
  .collect__body.container
    .collect__head
      .create-pro__head
        h2.create-pro-head__title За 10 лет собрали весь накопленный опыт,
          p учли каждую деталь для вашего спокойствия
    .collect__content.content-collect
      .content-collect__body
        .content-collect__column.collect-column
          .collect-column__body
            .collect-column__item.column-item.column-item1
              .column-item__body
                .column-item__tile Строгое соблюдение сроков
                .column-item__text Несём финансовые риски за срыв сроков
                .column-item__img1
                  img(src="assets/img/collect/01.png",alt="img")
                .column-item__img2
                  img(src="assets/img/collect/money.png",alt="img")
                .column-item__img3
                  img(src="assets/img/collect/time.png",alt="img")
            .collect-column__item.column-item.column-item4.column-item_desc
              .column-item__body
                .column-item__tile Собственное производство
                .column-item__text Осуществляем контроль качества на всех этапах производства
                .column-item__img1
                  img(src="assets/img/collect/04.png",alt="img")
                .column-item__img2
                  img(src="assets/img/collect/man.png",alt="img")
            .collect-column__item.column-item.column-item3.column-item_mob
              .column-item__body
                .column-item__tile Сертифицированные и качественные материалы
                .column-item__text BLUM(Австрия), Egger, VIBO (Италия), 
                  p Нettich (Германия)
                .column-item__img1.column-item__img1_mob
                  img(src="assets/img/collect/06.png",alt="img") 
                .column-item__img2
                  img(src="assets/img/collect/img-10.png",alt="img")
                .column-item__img3
                  img(src="assets/img/collect/img-11.png",alt="img")
                .column-item__img4
                  img(src="assets/img/collect/img-12.png",alt="img")
        
        .content-collect__column.content-collect__column_mid.collect-column-mid
          .collect-column-mid__body
            .collect-column-mid__title Включаемся 
              p в проект на стадии 
              p ремонта
            .collect-column-mid__text Контроль и консультация на любом этапе черновых работ. Приедем и проведем переговоры с прорабом,чтобы учесть все нюансы и воплатить вашу задумку
            .collect-column-mid__img1.column-item__img1.collect-column-mid__img1_mob 
              img.img-desc(src="assets/img/collect/02.png",alt="img")
              img.img-mob(src="assets/img/collect/07.png",alt="img")
            .collect-column-mid__img4
              img(src="assets/img/collect/kul.png",alt="img")
              .collect-column-mid__img2
                img(src="assets/img/collect/val.png",alt="img") 
              .collect-column-mid__img3
                img(src="assets/img/collect/shpat.png",alt="img") 
        
        
        .content-collect__column.collect-column
          .collect-column__body
            .collect-column__item.column-item.column-item4.column-item_mob
              .column-item__body
                .column-item__tile Собственное производство
                .column-item__text Осуществляем контроль качества на всех этапах производства
                .column-item__img1
                  img(src="assets/img/collect/04.png",alt="img")
                .column-item__img2
                  img(src="assets/img/collect/man.png",alt="img")
            .collect-column__item.column-item.column-item3.column-item_desc 
              .column-item__body
                .column-item__tile Сертифицированные и качественные материалы
                .column-item__text BLUM(Австрия), Egger, VIBO (Италия), 
                  p Нettich (Германия)
                .column-item__img1
                  img(src="assets/img/collect/03.png",alt="img")
                .column-item__img2
                  img(src="assets/img/collect/img-10.png",alt="img")
                .column-item__img3
                  img(src="assets/img/collect/img-11.png",alt="img")
                .column-item__img4
                  img(src="assets/img/collect/img-12.png",alt="img")
            .collect-column__item.column-item.column-item5
              .column-item__body
                .column-item__tile Персональный менеджер 
                  p на всех этапах
                .column-item__text Полное сопровождение проекта от обращения до установки мебели
                .column-item__img1
                  img(src="assets/img/collect/05.png",alt="img")
                .column-item__img2
                  img(src="assets/img/collect/woman.png",alt="img")
