include ../utils/mixins
section#confirm.confirm
  .confirm__wrapper
    .ibg.bg
      img(src="assets/img/confirm/img-70.png",alt="")
    .confirm__body.container
      .confirm__head
        .create-pro__head
          h2.create-pro-head__title Лучшее подтверждение качественной работы,
            p это благодарные клиенты
      .confirm__team
        .ibg.bg
          img(src="assets/img/confirm/team.png",alt="img")  
      .confirm__slider
        .slider-confirm__body.container-confirm.slider-confirm-js
          
          
          .slider-confirm__slide.scs
              .scs__text1
                img(src="assets/img/confirm/star.svg",alt="img")
                p Оценка клиента:
                  span 10/10
              .scs__title Требования клиента:
              .scs__text2 Cделать быстро и качествено
              .scs__title Решение:
              .scs__text2 На стадии замера помогли определиться с наполнением шкафа и его  размером. 
              .scs__recomend
                img(src="assets/img/confirm/img-71.png",alt="img")  
                p Владимир и Юлия 
                  span - молодая семья
                  br
                  span Обратились по рекомендации
              .scs__player
                img.bg(src="assets/img/confirm/confirm-img-1.png",alt="") 
                a.scs__triangle(href="#")
                  img(src="assets/img/confirm/img-80.png",alt="img")
          
          .slider-confirm__slide.scs
            .scs__text1
              img(src="assets/img/confirm/star.svg",alt="img")
              p Оценка клиента:
                span 10/10
            .scs__title Требования клиента:
            .scs__text2 Cделать быстро и качествено, чтобы успели до рождения ребенка  установить иубрать все накопленные вещи
            .scs__title Решение:
            .scs__text2 На стадии замера помогли определиться с наполнением шкафа и его  размером.Так же предложили наростить стену для увеличения места и функционала
            .scs__recomend
              img(src="assets/img/confirm/img-71.png",alt="img")  
              p Владимир и Юлия 
                span - молодая семья
                br
                span Обратились по рекомендации
            .scs__player
              img.bg(src="assets/img/confirm/confirm-img-1.png",alt="") 
              a.scs__triangle(href="#")
                img(src="assets/img/confirm/img-80.png",alt="img")
        
        
        
        .slider-confirm__arrows.arrows-slider-confirm
          .arrows-slider-confirm__arrow.arrows-slider-confirm__arrow_prev
          .arrows-slider-confirm__arrow.arrows-slider-confirm__arrow_next 
        .slick-dots
          .slider-invitation__mark /
          .slider-invitation__mark1 12
          .slider-invitation__mark3 0

