include ../utils/mixins
section#create-pro.create-pro
  .create-pro__body.container
    .create-pro__head
      +title("Создаём проекты для:")
    .create-pro__content.content-create-pro
      .content-create-pro__body
        a.content-create-pro__item.tiny-create-pro(href="#")
          +create-pro("Коттеджный  поселок Довиль","assets/img/create-pro/img-1.png") 
        a.content-create-pro__item.tiny-create-pro(href="#")
          +create-pro("ЖК Дыхание","assets/img/create-pro/img-2.png") 
        a.content-create-pro__item.tiny-create-pro(href="#")
          +create-pro("ЖК Савеловский Сити","assets/img/create-pro/img-3.png") 
        a.content-create-pro__item.tiny-create-pro(href="#")
          +create-pro("ЖК Тимерязев парк","assets/img/create-pro/img-4.png") 
        a.content-create-pro__item.tiny-create-pro(href="#")
          +create-pro("ЖК Суббота","assets/img/create-pro/img-6.png") 
        a.content-create-pro__item.tiny-create-pro(href="#")
          +create-pro("ЖК Пресня Сити","assets/img/create-pro/img-5.png")  
