section#designers.designers
  .designers__body
    .ibg.bg
      img(src="assets/img/designers/des-bg.png",alt="img")
    .container
      .designers__head
        .designers-head__title 
          span Дизайнеры о совместной
          br
          span нашей работе над проектами
      .designers__slider
          .slider-des__body.slider-des-js
            .slider-des__slide.slider-des-tiny
              .slider-des-tiny__title Современная классика- это прежде всего грамотные, хорошие пропорции,сочетание современных материалов с класическими приемами и класическомебелью.
              .designers__vika
                .ibg.bg
                  img(src="assets/img/designers/vika.png",alt="img") 
                .designers__colos 
                  p Виктория Колос
                  img(src="assets/img/designers/colos.png",alt="img")
                  .designers__discription
                    p Российский художник дизайнер интерьера
                    img(src="assets/img/designers/discr.png",alt="img")
              a.designers__look(href="#")
                p Посмотреть проект
                img.eye(src="assets/img/designers/eye.svg",alt="img")  
                img(src="assets/img/designers/look.png",alt="img")
              .designers__phone
                .ibg.bg
                  img(src="assets/img/designers/img-53.png",alt="img")
                .designers__plaza
                  p Спасибо, буду рада заказывать Gift Boxу Вас еще раз!
                  img(src="assets/img/designers/poligon.png",alt="img")
              .designers__quotes
                img(src="assets/img/designers/quoters.png",alt="img") 
              .designers__quotes.designers__quotes_1
                img(src="assets/img/designers/quoters.png",alt="img")
              .designers__content.content-designers
                .content-designers__body
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-50.png",alt="")
                      .tiny-designers__title 
                        strong Лучшие декораторские работы мира  
                        span  по версии британской компании   ANDREW MARTIN
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-51.png",alt="")
                      .tiny-designers__title 
                        strong Участница ежегодных выставок   
                        span  «Неделя декора» журнала «Мезонин»
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-52.png",alt="")
                      .tiny-designers__title 
                        span  Входит в список 
                        br  
                        strong  ТОП 100 лучших дизайнеров мира 
            .slider-des__slide.slider-des-tiny
              .slider-des-tiny__title Современная классика- это прежде всего грамотные, хорошие пропорции,сочетание современных материалов с класическими приемами и класическомебелью.
              .designers__vika
                .ibg.bg
                  img(src="assets/img/designers/vika.png",alt="img") 
                .designers__colos 
                  p Виктория Колос
                  img(src="assets/img/designers/colos.png",alt="img")
                  .designers__discription
                    p Российский художник дизайнер интерьера
                    img(src="assets/img/designers/discr.png",alt="img")
              a.designers__look(href="#")
                p Посмотреть проект
                img.eye(src="assets/img/designers/eye.svg",alt="img")  
                img(src="assets/img/designers/look.png",alt="img")
              .designers__phone
                .ibg.bg
                  img(src="assets/img/designers/img-53.png",alt="img")
                .designers__plaza
                  p Спасибо, буду рада заказывать Gift Boxу Вас еще раз!
                  img(src="assets/img/designers/poligon.png",alt="img")
              .designers__quotes
                img(src="assets/img/designers/quoters.png",alt="img") 
              .designers__quotes.designers__quotes_1
                img(src="assets/img/designers/quoters.png",alt="img")
              .designers__content.content-designers
                .content-designers__body
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-50.png",alt="")
                      .tiny-designers__title 
                        strong Лучшие декораторские работы мира  
                        span  по версии британской компании   ANDREW MARTIN
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-51.png",alt="")
                      .tiny-designers__title 
                        strong Участница ежегодных выставок   
                        span  «Неделя декора» журнала «Мезонин»
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-52.png",alt="")
                      .tiny-designers__title 
                        span  Входит в список 
                        br  
                        strong  ТОП 100 лучших дизайнеров мира 
            .slider-des__slide.slider-des-tiny
              .slider-des-tiny__title Современная классика- это прежде всего грамотные, хорошие пропорции,сочетание современных материалов с класическими приемами и класическомебелью.
              .designers__vika
                .ibg.bg
                  img(src="assets/img/designers/vika.png",alt="img") 
                .designers__colos 
                  p Виктория Колос
                  img(src="assets/img/designers/colos.png",alt="img")
                  .designers__discription
                    p Российский художник дизайнер интерьера
                    img(src="assets/img/designers/discr.png",alt="img")
              a.designers__look(href="#")
                p Посмотреть проект
                img.eye(src="assets/img/designers/eye.svg",alt="img")  
                img(src="assets/img/designers/look.png",alt="img")
              .designers__phone
                .ibg.bg
                  img(src="assets/img/designers/img-53.png",alt="img")
                .designers__plaza
                  p Спасибо, буду рада заказывать Gift Boxу Вас еще раз!
                  img(src="assets/img/designers/poligon.png",alt="img")
              .designers__quotes
                img(src="assets/img/designers/quoters.png",alt="img") 
              .designers__quotes.designers__quotes_1
                img(src="assets/img/designers/quoters.png",alt="img")
              .designers__content.content-designers
                .content-designers__body
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-50.png",alt="")
                      .tiny-designers__title 
                        strong Лучшие декораторские работы мира  
                        span  по версии британской компании   ANDREW MARTIN
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-51.png",alt="")
                      .tiny-designers__title 
                        strong Участница ежегодных выставок   
                        span  «Неделя декора» журнала «Мезонин»
                  .content-designers__item.tiny-designer
                    .tiny-designers__body
                      .tiny-designers__icon
                        img(src="assets/img/designers/img-52.png",alt="")
                      .tiny-designers__title 
                        span  Входит в список 
                        br  
                        strong  ТОП 100 лучших дизайнеров мира 
                    
          .slider-des__arrows.arrows-slider-des
            .arrows-slider-des__arrow.arrows-slider-des__arrow_prev
            .arrows-slider-des__arrow.arrows-slider-des__arrow_next



