include ../utils/mixins
section#fairytales.fairytales
  .fairytales__wrapper
    .ibg.bg
      img(src="assets/img/fairytales/image-bg.png",alt="")
    .fairytales__body.container
      .fairytales__head
        .create-pro__head
          h2.create-pro-head__title Не оправдываемся и не сочиняем
            p сказки. Мы все делаем в срок
      .fairytales__content.content-fairytales
        .content-fairytales__body
          .content-fairytales__column
            .content-fairytales__item.fairytales-item
              +fairytales-item("Производство","- подрядчик постоянно","кормит вас завтраками?","Мы  гарантируем точное соблюдение сроков. Получаем вторую часть оплаты 40% , только когда все  условия выполнены и вы довольны","","assets/img/fairytales/img-21.png","","","","" )
            .content-fairytales__item.fairytales-item
              +fairytales-item("Сборщики обвиняют","в ошибках производства","или замерщиков?","Ваш  персональный менеджер контролирует на каждом этапе: замер, изготовление, доставка, сборка  и контролирует каждый процесс","","","assets/img/fairytales/img-22.png","","","" )
            .content-fairytales__item.fairytales-item
              +fairytales-item("Заменили дорогой заявленный","материал и фурнитуру","на дешевый аналог? ","Подробно отражаем в договоре составляющие вашего проекта. С указанием названий и  артикулов по каждой позиции","","","","assets/img/fairytales/img-23.png","","" )
          
          .content-fairytales__manager.fairytales-manager
            .fairytales-manager__body
              .fairytales-manager__img
                img(src="assets/img/fairytales/manager.png",alt="")
                .fairytales-manager__plaza-small Василий Михайлов
                .fairytales-manager__plaza-small1 Персональный менеджер   
                .fairytales-manager__plaza
                  p Держим связь 24/7
                  p Сопровождение на каждом этапе
          .content-fairytales__column
            .content-fairytales__item.fairytales-item
              +fairytales-item("Устранение выявленных","рекламаций","затягивается на месяц?","Все   выявленный недочёты фиксируются менеджером на месте и находим решение в течении 24 часов",  "","","","assets/img/fairytales/img-24.png","","" )
            .content-fairytales__item.fairytales-item
              +fairytales-item("Машина с доставкой","в пути уже 2 дня?","","Собственный транспорт и   служба доставки позволяют рассчитать время до 1 часа"," Габариты наших машин позволяют  заезжать в паркинги и проезжать во все тяжело доступные локации","","","","assets/img/ fairytales/img-25.png","assets/img/fairytales/img-26.png" )
            .content-fairytales__item.fairytales-item
              +fairytales-item("Собрали мебель, ","а технику не подключили?","","При сборке мебели и  подключении техники учтём все переходники, удлинители, краны. Чтобы вы сразу смогли  начать пользоваться","","","","","assets/img/fairytales/img-28.png","assets/img/ fairytales/img-27.png" ) 
      .fairytales__button
        +button-color("Обсудить проект","") 



