section#footer.footer
  .footer__wrapper
    .container
      .footer__body
        h2.footer__title Работаем в Москве и области в радиусе 200 км
        .footer__text Готовы обсудить проект с выездом за пределы
        .footer__plaha.footer-plaha
          .footer-plaha__body
            .footer-plaha__text1 Наши контакты:
            .footer-plaha__text2 +7 (926) 844-43-33
              img(src="assets/img/footer/footer-1.svg",alt="img") 
            .footer-plaha__text2 Пн-Вс: с 9:00 до 21:00
              img(src="assets/img/footer/footer-2.svg",alt="img")
            .footer-plaha__text2 mail@mail.ru
              img(src="assets/img/footer/footer-3.svg",alt="img")
            .footer-plaha__text1 Наше производство:
            .footer-plaha__text2 г. Москва, ул. Строителей, 12А
              img(src="assets/img/footer/footer-4.svg",alt="img")
            .footer-plaha__text1 Задайте нам вопрос напрямую:
            .thl__icons
                a.thl__icon.th-wa(href="#")
                  img(src="assets/img/thanks/va.png",alt="img") 
                a.thl__icon.th-teleg(href="#")
                  img(src="assets/img/thanks/tg.png",alt="img")
                a.thl__icon.th-viber(href="#")
                  img(src="assets/img/thanks/viber.png",alt="img")
            .footer-plaha__text1 Будем рады видеть вас в наших социальных сетях:
            .thl__icons
                a.thl__icon.th-wa(href="#")
                  img(src="assets/img/footer/footer-5.svg",alt="img") 
                a.thl__icon.th-teleg(href="#")
                  img(src="assets/img/footer/footer-6.svg",alt="img")
                a.thl__icon.th-viber(href="#")
                  img(src="assets/img/footer/footer-7.svg",alt="img")
            .footer-plaha__button
              +button-color("Связаться с нами")
        .footer__map
          .ibg.bg
            img(src="assets/img/footer/map.png",alt="img")
        a.designers__look(href="#")
          span Добавить сайт в избранное
          span.flash Ctrl+D
          img(src="assets/img/footer/footer-look.png",alt="img")  


