section#garant.garant
  .garant__wrapper
    .ibg.bg
      img(src="assets/img/garant/garant-bg.jpg",alt="")
    .container
      .garant__body
        h2.garant__title Благодаря собственной службе доставки и бригаде 
          p установщиков мы можем гарантировать заявленные сроки
        .garant__installers
          .ibg.bg
            img(src="assets/img/garant/installers.png",alt="")
        .garant__plaha.garant-plaha
          .garant-plaha__body
            .garant-plaha__item
              .garant-plaha__img
                .garant-plaha__img1.plaha-img
                  img(src="assets/img/garant/img-100.png",alt="img")
                .garant-plaha__img2.plaha-img
                  img(src="assets/img/garant/img-101.png",alt="img")
                .garant-plaha__img3.plaha-img
                  img(src="assets/img/garant/img-102.png",alt="img")
              .garant-plaha__title Установка в день доставки
              .garant-plaha__text Наша бригада сборщиков к моменту доставки уже на месте и приступает к установки в тот же день
            .garant-plaha__item
              .garant-plaha__img
                .garant-plaha__img1.plaha-img
                  img(src="assets/img/garant/img-103.png",alt="img")
              .garant-plaha__title Команда профессионалов 
              .garant-plaha__text Свыше 10 лет имеет практический опыт каждый сборщик. В арсенале только современное оборудование и инструменты
            .garant-plaha__item
              .garant-plaha__img
                .garant-plaha__img1.plaha-img
                  img(src="assets/img/garant/img-104.png",alt="img") 
              .garant-plaha__title Убираем за собой
              .garant-plaha__text По итогу сборки и установки полностью убираем весь мусори вывозим оставшийся материал
  .garant__slaider.garant-slaider
    .garant-slaider__body.container
      .garant-slaider__info
        p Посмотрите 
        span как доставляем и собираем                       
        p  вашу мебель 
        .slider-work__arrows.arrows-slider-work
          .arrows-slider-work__arrow.arrows-slider-work__arrow_prev.gs-js_prev
          .arrows-slider-work__arrow.arrows-slider-work__arrow_next.gs-js_next
      
      .garant-slaider__area.gs
        .gs__body.gs-js
          .gs__item
            .gs-item
              img(src="assets/img/garant/gs-item.png",alt="")
            a.gs-point(href="#")
              img.gs-point(src="assets/img/garant/gs-point.png",alt="")
          .gs__item
            .gs-item
              img(src="assets/img/garant/gs-item.png",alt="")
            a.gs-point(href="#")
              img.gs-point(src="assets/img/garant/gs-point.png",alt="")
          .gs__item
            .gs-item
              img(src="assets/img/garant/gs-item.png",alt="")
            a.gs-point(href="#")
              img.gs-point(src="assets/img/garant/gs-point.png",alt="")
          .gs__item
            .gs-item
              img(src="assets/img/garant/gs-item.png",alt="")
            a.gs-point(href="#")
              img.gs-point(src="assets/img/garant/gs-point.png",alt="")
          .gs__item
            .gs-item
              img(src="assets/img/garant/gs-item.png",alt="")
            a.gs-point(href="#")
              img.gs-point(src="assets/img/garant/gs-point.png",alt="")
          .gs__item
            .gs-item
              img(src="assets/img/garant/gs-item.png",alt="")
            a.gs-point(href="#")
              img.gs-point(src="assets/img/garant/gs-point.png",alt="")
        

 



