include ../utils/mixins
section#invitation.invitation
  .invitation__body
    .container
      .invitation__head
        .invitation-head__plaha Приглашаем дизайнеров к сотрудничеству
        .invitation-head__title 
          .create-pro__head
            h2.create-pro-head__title За 8 лет опыта сотрудничества с дизайнерами,
              p мы создали комфортные условия для Вас
      .invitation__sveta
        .designers__vika
          .ibg.bg
            img(src="assets/img/invitation/sveta.png",alt="img") 
          .designers__colos 
            p Светлана
            img(src="assets/img/designers/colos.png",alt="img")
            .designers__discription
              p Специалист по работе с клиентами
              img(src="assets/img/designers/discr.png",alt="img")
      .invitation__message Сохраните свои нервы и репутацию будьте уверены в следующем:
      .invitation__button
        +button-color("Задать вопросы и обсудить условия") 
      .invitation__decor1
        img(src="assets/img/invitation/svg1.svg",alt="img")
      .invitation__slider 
        .slider-invitation
          .slider-invitation__body.slider-invitation-js
            .slider-invitation__slide.si
              .si__body
                .si__column
                  .si__item.si-item.si-item_odd
                    .si-item__body
                      .si-item__title Работа только с лучшим 
                        p материалом
                      .si-item__text BLUM(Австрия) Egger, VIBO (Италия), Нettich (Германия)
                      .si-item__img1
                        img(src="assets/img/invitation/img-60.png",alt="img")   
                      .si-item__img2
                        img(src="assets/img/invitation/img-61.png",alt="img")
                      .si-item__img3
                        img(src="assets/img/invitation/img-62.png",alt="img") 
                      .si-item__img4
                        img(src="assets/img/invitation/img-63.png",alt="img")
                      .si-item__img5
                        img(src="assets/img/invitation/img-64.png",alt="img") 
                  .si__item.si-item.si-item_even
                    .si-item__body
                      .si-item__title 30 м2 превращаем 
                        p в 50 м2
                      .si-item__text Расширяем ваше пространство продумываем наполнение мебелитакчтобы эффективно использовался каждый сантиметр
                      .si-item__img6
                        img.img-even-big(src="assets/img/invitation/img-65.png",alt="img")   
                        img.img-even(src="assets/img/invitation/img-65-1.png",alt="img")   
                .si__column
                  .si__item.si-item.si-item_odd
                    .si-item__body
                      .si-item__title Оптимизируем проект 
                        p под бюджет 
                      .si-item__text Подберем лучший материал 
                        p в вашем бюджете еще на этапе дизайн проекта
                      .si-item__img6
                        img(src="assets/img/invitation/img-66.png",alt="img")    
                  .si__item.si-item.si-item_even
                    .si-item__body
                      .si-item__title Продумаем 
                        p все до деталей
                      .si-item__text Учтем все моменты. Мы сами проконсультируем строителей иподскажем, где вывести розетки, где провести воду и канализацию 
                      .si-item__img6
                        img.img-even-big(src="assets/img/invitation/img-67.png",alt="img")   
                        img.img-even(src="assets/img/invitation/img-67-1.png",alt="img")    
            .slider-invitation__slide.si
              .si__body
                .si__column
                  .si__item.si-item.si-item_odd
                    .si-item__body
                      .si-item__title Работа только с лучшим 
                        p материалом
                      .si-item__text BLUM(Австрия) Egger, VIBO (Италия), Нettich (Германия)
                      .si-item__img1
                        img(src="assets/img/invitation/img-60.png",alt="img")   
                      .si-item__img2
                        img(src="assets/img/invitation/img-61.png",alt="img")
                      .si-item__img3
                        img(src="assets/img/invitation/img-62.png",alt="img") 
                      .si-item__img4
                        img(src="assets/img/invitation/img-63.png",alt="img")
                      .si-item__img5
                        img(src="assets/img/invitation/img-64.png",alt="img") 
                  .si__item.si-item.si-item_even
                    .si-item__body
                      .si-item__title 30 м2 превращаем 
                        p в 50 м2
                      .si-item__text Расширяем ваше пространство продумываем наполнение мебелитакчтобы эффективно использовался каждый сантиметр
                      .si-item__img6
                        img.img-even-big(src="assets/img/invitation/img-65.png",alt="img")   
                        img.img-even(src="assets/img/invitation/img-65-1.png",alt="img")     
                .si__column
                  .si__item.si-item.si-item_odd
                    .si-item__body
                      .si-item__title Оптимизируем проект 
                        p под бюджет 
                      .si-item__text Подберем лучший материал 
                        p в вашем бюджете еще на этапе дизайн проекта
                      .si-item__img6
                        img(src="assets/img/invitation/img-66.png",alt="img")    
                  .si__item.si-item.si-item_even
                    .si-item__body
                      .si-item__title Продумаем 
                        p все до деталей
                      .si-item__text Учтем все моменты. Мы сами проконсультируем строителей иподскажем, где вывести розетки, где провести воду и канализацию 
                      .si-item__img6
                        img.img-even-big(src="assets/img/invitation/img-67.png",alt="img")   
                        img.img-even(src="assets/img/invitation/img-67-1.png",alt="img")      
                    

          .slider-invitation__arrows.arrows-slider-invitation
            .arrows-slider-invitation__arrow.arrows-slider-invitation__arrow_prev
            .arrows-slider-invitation__arrow.arrows-slider-invitation__arrow_next
          .slick-dots
            .slider-invitation__mark /
            .slider-invitation__mark1 02
            .slider-invitation__mark3 0