section#link.link
  .link__wrapper
    .ibg.bg
      img(src="assets/img/link/link-bg.png",alt="") 
    .container
      .link__body
        .create-pro__head
          h2.create-pro-head__title Давайте воплощать проекты вместе.
           
        .link__discription Знаем, что вы уделяете внимание каждой детали, стремитесь к совершенству в каждом дизайн-проекте
        .link__content.link-content
          .link-content__body
            .link-content__column
              .link-content__text Мы готовы поддержать вас в любой задумке Давайте воплощать проекты вместе
            .link-content__column.cont-column
              .link-content__text Мы рады познакомиться и обсудить возможность совместной работы
              .cont-column__body
                h3.cont-column__title Давайте знакомиться
                .cont-column__discription После отправки данных мы свяжемся с вами в течение 3-х минут
                form.cont-column__form
                  .cont-column__in
                    input#username(type='text', name='username', placeholder='Введите ваше имя', required='')
                    img(src="assets/img/link/link-pers.png",alt="img")
                  .cont-column__in
                    input#phone(type='text', name='phone', placeholder='Введите номер телефона', required='')
                    img(src="assets/img/link/link-phone.png",alt="img")
                  .cont-column__button
                    input(type='submit', name='submit', value='Давайте знакомиться')
                    .button-color
                .cont-column__confidence Нажимая кнопку вы соглашаетесь на  
                  a(href="#")
                    span обработку персональных данных
                .cont-column__social  Или напишите нам напрямую удобным вам способом
                .cont-column__icons
                  a.icon-link(href="#")
                    img(src="assets/img/link/link-svg-3.svg",alt="img") 
                  a.icon-link(href="#")
                    img.ua(src="assets/img/thanks/va.png",alt="img") 
                  a.icon-link(href="#")
                    img(src="assets/img/link/link-svg-2.svg",alt="img") 
                  a.icon-link(href="#")
                    img(src="assets/img/link/link-svg-1.svg",alt="img") 
          .link-content__team
            .ibg.bg
              img(src="assets/img/link/link-team.png",alt="")
            .link-content__shadow
              .ibg.bg
                img(src="assets/img/link/link-shadow.png",alt="")
          .link-content__your 
            .ibg.bg
              img(src="assets/img/link/link-your.png",alt="")
            span Ваша команда J-UNO 
          .link-content__decor1 
            .ibg.bg
              img(src="assets/img/link/link-svg-7.svg",alt="img") 
          .link-content__decor2 
            .ibg.bg
              img(src="assets/img/link/link-svg-8.svg",alt="img") 

section#test.test
  .test__wrapper
    .ibg.bg
      img(src="assets/img/link/link-bg.png",alt="") 
    .container
      .test__body
        h2.test__title 
        .test__discription
        .test__

