section#pro.pro
  .pro__wrapper
    .container
      .pro__body
        h2.pro__title Приезжайте к нам на производство
          br
          span и убедитесь лично в качестве нашей работы
        .pro__content.pro-content
          .pro-content__body  
            .pro-content__column
              .pro-info
                .pro-info__title Новое современное оборудование не  старше  2018 года
                .pro-info__text У нас есть возможности выполнить даже  самый нестандартный заказ в соответствии с мировыми стандартами качества
              .pro-content__img 
                .ibg.bg
                  img(src="assets/img/pro/pro-1.png",alt="img")
              .pro-info.pro-info_low
                .pro-info__title  Работаем только с качественным материалом
                .pro-info__text Используем материалы проверенных производителей, продукция которых сертифицирована в соответствиис европейскими стандартами
            .pro-content__block.pro-content-block 
              .pro-content-block__body
                .pro-content-block__video
                  .ibg.bg
                    img(src="assets/img/pro/pro-2.png",alt="img") 
                  .pro-content-block__discr Как мы производим нашу мебель
                  a.pro-content-block__discr1(href="#")
                    img(src="assets/img/pro/pro-vector-1.png",alt="img")
                    .pro-content-block__discr2
                      img(src="assets/img/pro/pro-5.png",alt="img")
                    .pro-content-block__discr3
                      img(src="assets/img/pro/pro-6.png",alt="img")
                  .pro-content-block__mask
                .pro-content-block__columns
                  .pro-content-block__column
                    .pro-content-block__img
                      .ibg.bg
                        img(src="assets/img/pro/pro-3.png",alt="img")
                    .pro-info.pro-info_low
                      .pro-info__title  Служба контроля качества
                      .pro-info__text Технолог контролирует каждый 
                        p этап производства
                  .pro-content-block__column
                    .pro-info
                      .pro-info__title  Надежная упаковка каждой детали
                      .pro-info__text Не экономим на упаковке деталей.
                        p Тщательно упакуем и доставим в сохранности без царапин
                    .pro-content-block__img
                      .ibg.bg
                        img(src="assets/img/pro/pro-4.png",alt="img")
        .pro__content-media.pro-content-media
          .pro-content-media__body
            .pro-content-media__item
              .pro-content-media__img
                .ibg.bg
                   img(src="assets/img/pro/pro-2.png",alt="img")
                .pro-content-block__mask
                .pro-content-block__discr Как мы производим нашу мебель
                a.pro-content-block__discr1(href="#")
                  img(src="assets/img/pro/pro-vector-1.png",alt="img")
                  .pro-content-block__discr2
                    img(src="assets/img/pro/pro-5.png",alt="img")
                  .pro-content-block__discr3
                    img(src="assets/img/pro/pro-6.png",alt="img") 
              .pro-content-media__title Новое современное оборудование не  старше  2018 года
              .pro-content-media__text У нас есть возможности выполнить даже  самый нестандартный заказ в соответствии с мировыми стандартами качества
            .pro-content-media__item
              .pro-content-media__img
                .ibg.bg
                   img(src="assets/img/pro/pro-1.png",alt="img") 
              .pro-content-media__title Работаем только с качественным материалом
              .pro-content-media__text Используем материалы проверенных производителей, продукция которых сертифицирована в соответствиис европейскими стандартами
            .pro-content-media__item
              .pro-content-media__img
                .ibg.bg
                   img(src="assets/img/pro/pro-3.png",alt="img") 
              .pro-content-media__title Служба контроля качества
              .pro-content-media__text Технолог контролирует каждый 
                p этап производства
            .pro-content-media__item
              .pro-content-media__img
                .ibg.bg
                   img(src="assets/img/pro/pro-4.png",alt="img") 
              .pro-content-media__title Надежная упаковка каждой детали
              .pro-content-media__text Не экономим на упаковке деталей.
                p Тщательно упакуем и доставим в сохранности без царапин
        .pro__button
          .button-color
            a.button-color__link(href="#")
              span Организовать встречу