include ../utils/mixins
section#scheme.scheme
  .scheme__body.container
    .scheme__head
      .confirm__head
        .create-pro__head
          h2.create-pro-head__title Прозрачная и понятная схема работы.
            p Оплачиваете нашу работу, когда довольны на 100%.
    .scheme__content.content-scheme
      .content-scheme__body
        .content-scheme__item.tiny-scheme
          //- +scheme-item("Вы звоните нам или оставляете"," заявку на сайте","","assets/img/scheme/01.png","assets/img/scheme/img-30.png","")
          .tiny-scheme__body.tiny-scheme__body_special.body_special1
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-30.png") 
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/01.png") 
            .tiny-scheme__text_special
              span Вы звоните нам или оставляете
              br
              span   заявку на сайте


          //- +scheme-item("Собираем информацию ","и обсуждаем проект","","assets/img/scheme/02.png","assets/img/scheme/img-31.png","")
          .tiny-scheme__body.tiny-scheme__body_special.body_special2
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-31.png") 
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/02.png") 
            .tiny-scheme__text_special
              span Собираем информацию
              br
              span  и обсуждаем проект
         
         
         
          //- +scheme-item("Проводим встречу на объекте","и осуществляем замер","","assets/img/scheme/03.png","assets/img/scheme/img-32.png","assets/img/scheme/img-42.png")
          .tiny-scheme__body.tiny-scheme__body_special.body_special3
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-32.png") 
              .tiny-scheme__img1_special
                img(src="assets/img/scheme/img-42.png")
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/03.png")
            .tiny-scheme__text_special
              span Проводим встречу на объекте
              br
              span  и осуществляем замер
          
          
          
          //- +scheme-item("Расчёт стоимости и  ","формирование предложения","с учётом возможности бюджета","assets/img/scheme/04.png","assets/img/scheme/img-33.png","assets/img/scheme/img-43.png") 
          .tiny-scheme__body.tiny-scheme__body_special.body_special4
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-33.png") 
              .tiny-scheme__img1_special
                img(src="assets/img/scheme/img-43.png")
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/04.png")
            .tiny-scheme__text_special
              span Расчёт стоимости и
              br
              span формирование предложения
              br
              span с учётом возможности бюджета
          
          
          
          
          
          //- +scheme-item("Заключаем договор и ожидаем ","оплату за материал в размере"," 60% от общей суммы проекта","assets/img/scheme/05.png","assets/img/scheme/img-34.png","assets/img/scheme/img-44.png")
          .tiny-scheme__body.tiny-scheme__body_special.body_special5
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-34.png") 
              .tiny-scheme__img1_special
                img(src="assets/img/scheme/img-44.png")
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/05.png")
            .tiny-scheme__text_special
              span Заключаем договор и ожидаем
              br
              span  оплату за материал в размере
              br
              span  60% от общей суммы проекта
          
          
          
          //- +scheme-item("Передаём заказ технологу на ","производство. Срок изготовления","от 10 рабочих дней","assets/img/scheme/06.png","assets/img/scheme/img-35.png","assets/img/scheme/img-46.png")
          .tiny-scheme__body.tiny-scheme__body_special.body_special6
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-35.png") 
              .tiny-scheme__img1_special
                img(src="assets/img/scheme/img-46.png")
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/06.png")
            .tiny-scheme__text_special
              span Передаём заказ технологу на
              br
              span  производство. Срок изготовления
              br
              span  от 10 рабочих дней
        
        
        .content-scheme__item.tiny-scheme
          
          
          //- +scheme-item("По готовности заказа, сообщаем  ","вам, упаковываем и"," согласовываем доставку","assets/img/scheme/07.png","assets/img/scheme/img-36.png","")
          .tiny-scheme__body.tiny-scheme__body_special.body_special7
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-36.png") 
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/07.png")
            .tiny-scheme__text_special
              span По готовности заказа, сообщаем
              br
              span  вам, упаковываем и
              br
              span  согласовываем доставку
          
          
          //- +scheme-item("Заказ сопровождает ваш личный  ","менеджер и так же контролирует"," доставку и установку","assets/img/scheme/08.png","assets/img/scheme/img-37.png")
          .tiny-scheme__body.tiny-scheme__body_special.body_special8
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-37.png") 
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/08.png")
            .tiny-scheme__text_special
              span Заказ сопровождает ваш личный
              br
              span  менеджер и так же контролирует
              br
              span  доставку и установку
          
          .tiny-scheme__body.tiny-scheme__body_special.body_special9
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-38.png") 
              .tiny-scheme__img1_special
                img(src="assets/img/scheme/img-45.png")
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/09.png")
            .tiny-scheme__text_special
              span Приступаем к монтажу
              br
              span  мебели в день доставки

          .tiny-scheme__body.tiny-scheme__body_special.body_special10
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-39-1.png") 
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/10.png")
            .tiny-scheme__text_special
              span По итогу установки
              br
              span  убираем помещение
         
          //- +scheme-item("Принимаете работу","","","assets/img/scheme/11.png","assets/img/scheme/img-40.png","")
          .tiny-scheme__body.tiny-scheme__body_special.body_special11
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-40.png")  
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/11.png")
            .tiny-scheme__text_special
              span Принимаете работу
              

          //- +scheme-item("Итоговая оплата 40% и ","подписание актов","","assets/img/scheme/12.png","assets/img/scheme/img-41.png","assets/img/scheme/img-47.png")
          .tiny-scheme__body.tiny-scheme__body_special.body_special12
            .tiny-scheme__img_special
              img(src="assets/img/scheme/img-41.png") 
              .tiny-scheme__img1_special
                img(src="assets/img/scheme/img-47.png")
            .tiny-scheme__icon_special 
              img(src="assets/img/scheme/12.png")
            .tiny-scheme__text_special
              span Итоговая оплата 40% и 
              br
              span  подписание актов