section#thanks.thanks
  .thanks__body
    .ibg.bg
      img(src="assets/img/thanks/thanks-bg.png",alt="") 
    .container
      .thcontent__body
        .thcontent__title Спасибо Вам, что оставили заявку и обратились к нам
        .thcontent__text1 Мы уже получили ваш запрос, и в ближайшее время с вами свяжется наш специалист
          img(src="assets/img/thanks/svg-thanks-5.svg",alt="img") 
        .thcontent__text2 Чтобы сократить ваше ожидание, пока мы подготавливаем для вас информацию,     
          span предлагаем вам:
        .thcontent__links.thl
          .thl__body
            .thl__column
              .thl__title Познакомиться с нами в соц. сетях
              .thl__text Подпишитесь на наш Instagram. Мы постоянно проводим акции для наших подписчиков
              .thl__phone
                img(src="assets/img/thanks/phone.png",alt="")
              a.thl__juno(href="#") @juno_mebel
                img(src="assets/img/thanks/inst.svg",alt="img")  
            .thl__column
              .thl__title Продолжить общение в мессенджерах
              .thl__icons
                a.thl__icon.th-wa(href="#")
                  img(src="assets/img/thanks/va.png",alt="img") 
                a.thl__icon.th-teleg(href="#")
                  img(src="assets/img/thanks/tg.png",alt="img")
                a.thl__icon.th-viber(href="#") 
                  img(src="assets/img/thanks/viber.png",alt="img")  
        .thcontent__button Вернуться на главную
          a
            img(src="assets/img/thanks/svg-thanks-6.svg",alt="img")
        
        .designers__vika
          .ibg.bg
            img(src="assets/img/thanks/man.png",alt="img") 
          .designers__colos 
            p Сергей Михайлов
            img(src="assets/img/thanks/thanks-color.png",alt="img")
            .designers__discription
              p Руководитель отдела по работе с клиентами
              img(src="assets/img/thanks/thanks-white.png",alt="img")

        .thcontent__faid 
          img(src="assets/img/thanks/faid.png",alt="") 
        .thcontent__decor1
          img(src="assets/img/thanks/svg-thanks-4.svg",alt="img")
        .thcontent__decor2
          img(src="assets/img/thanks/svg-thanks-1.svg",alt="img")
        .thcontent__decor3
          img(src="assets/img/thanks/svg-thanks-2.svg",alt="img")