section#work.work
  .work__wrapper 
    .work__body.container 
      .work__head
        a.work__plaha(href="#") Посмотрите наши работы
        .create-pro__head
          h2.create-pro-head__title За 10 лет существования нашей компании
            p мы создали свыше 4 800 изделий на заказ
      .work__slider
        .slider-work.slider-work-js
          .slider-work__slide.ws
            .ws__title Название проекта
            .ws__text1 Проект реализован в 2017 году
              img.ws__icon1(src="assets/img/work/svg-work1.svg",alt="img")  
            .ws__plaha
              .ws__text2 
                span Сдали проект на 5 дней 
                  big раньше срока 
                span и 
                  big сэкономили 20% 
                span от общей сметы
              img.ws__img-plaha1(src="assets/img/work/quot.png",alt="img")
              img.ws__img-plaha2(src="assets/img/work/quot.png",alt="img")
              img.ws__img-plaha3(src="assets/img/work/plaha.png",alt="img")
            .ws__text3 Задача:
            .ws__text4 Lorem Ipsum is simply dummy text of the printing and typesetindustry.  LoremIpsum   has been the industry's standard dummy text ever since1500s, when an unknown  printertook a  galley of type and scrambled
            .ws__text6 Что сделано
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__galery.ws__column1
              .ws-column1__body
                .ws-column1__high
                  .slider-high__slide
                    .ibg.bg
                      img(src="assets/img/work/work-big.png",alt="")
                .ws-column1__low
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="")
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="")
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="") 
          .slider-work__slide.ws
            .ws__title Название проекта
            .ws__text1 Проект реализован в 2017 году
              img.ws__icon1(src="assets/img/work/svg-work1.svg",alt="img")  
            .ws__plaha
              .ws__text2 
                span Сдали проект на 5 дней 
                  big раньше срока 
                span и 
                  big сэкономили 20% 
                span от общей сметы
              img.ws__img-plaha1(src="assets/img/work/quot.png",alt="img")
              img.ws__img-plaha2(src="assets/img/work/quot.png",alt="img")
              img.ws__img-plaha3(src="assets/img/work/plaha.png",alt="img")
            .ws__text3 Задача:
            .ws__text4 Lorem Ipsum is simply dummy text of the printing and typesetindustry.  LoremIpsum   has been the industry's standard dummy text ever since1500s, when an unknown  printertook a  galley of type and scrambled
            .ws__text6 Что сделано
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__galery.ws__column1
              .ws-column1__body
                .ws-column1__high
                  .slider-high__slide
                    .ibg.bg
                      img(src="assets/img/work/work-big.png",alt="")
                .ws-column1__low
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="")
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="")
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="") 
          .slider-work__slide.ws
            .ws__title Название проекта
            .ws__text1 Проект реализован в 2017 году
              img.ws__icon1(src="assets/img/work/svg-work1.svg",alt="img")  
            .ws__plaha
              .ws__text2 
                span Сдали проект на 5 дней 
                  big раньше срока 
                span и 
                  big сэкономили 20% 
                span от общей сметы
              img.ws__img-plaha1(src="assets/img/work/quot.png",alt="img")
              img.ws__img-plaha2(src="assets/img/work/quot.png",alt="img")
              img.ws__img-plaha3(src="assets/img/work/plaha.png",alt="img")
            .ws__text3 Задача:
            .ws__text4 Lorem Ipsum is simply dummy text of the printing and typesetindustry.  LoremIpsum   has been the industry's standard dummy text ever since1500s, when an unknown  printertook a  galley of type and scrambled
            .ws__text6 Что сделано
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__galery.ws__column1
              .ws-column1__body
                .ws-column1__high
                  .slider-high__slide
                    .ibg.bg
                      img(src="assets/img/work/work-big.png",alt="")
                .ws-column1__low
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="")
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="")
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="") 
          .slider-work__slide.ws
            .ws__title Название проекта
            .ws__text1 Проект реализован в 2017 году
              img.ws__icon1(src="assets/img/work/svg-work1.svg",alt="img")  
            .ws__plaha
              .ws__text2 
                span Сдали проект на 5 дней 
                  big раньше срока 
                span и 
                  big сэкономили 20% 
                span от общей сметы
              img.ws__img-plaha1(src="assets/img/work/quot.png",alt="img")
              img.ws__img-plaha2(src="assets/img/work/quot.png",alt="img")
              img.ws__img-plaha3(src="assets/img/work/plaha.png",alt="img")
            .ws__text3 Задача:
            .ws__text4 Lorem Ipsum is simply dummy text of the printing and typesetindustry.  LoremIpsum   has been the industry's standard dummy text ever since1500s, when an unknown  printertook a  galley of type and scrambled
            .ws__text6 Что сделано
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__text5 Lorem Ipsum is simply dummy text of the printing 
              .ws__img-text5
                img(src="assets/img/work/svg-work2.svg",alt="img")
            .ws__galery.ws__column1
              .ws-column1__body
                .ws-column1__high
                  .slider-high__slide
                    .ibg.bg
                      img(src="assets/img/work/work-big.png",alt="")
                .ws-column1__low
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="")
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="")
                  img.column1-low__item(src="assets/img/work/work-small.png",alt="") 
        .slider-work__arrows.arrows-slider-work
          .arrows-slider-work__arrow.arrows-slider-work__arrow_prev
          .arrows-slider-work__arrow.arrows-slider-work__arrow_next
        .slick-dots
          .slider-invitation__mark /
          .slider-invitation__mark1 4
          .slider-invitation__mark3 0



