extends ../layout/main
block header
  include ../common/header
  //- include ../common/header1
block content
  include ../includes/create-pro
  include ../includes/collect
  include ../includes/fairytales
  include ../includes/calc  
  include ../includes/invitation
  include ../includes/designers
  include ../includes/work
  include ../includes/pro
  include ../includes/garant
  include ../includes/confirm
  include ../includes/scheme
  include ../includes/link
  include ../includes/footer
  include ../includes/thanks  
  include ../common/header1 
  include ../includes/projects