section#cabinet.cabinet
  .cabinet__wrapper
    .ibg.bg
      img(src="assets/img/project/main_pic.png",alt="img")

    .header1.header-project 
      a.header1__logo(href="#")
        img(src="assets/img/header/logo.png" ,alt="logo")
      .header1__burger.icon-menu-1-1
        span
        span
        span
        .header1__slide.header1-1__slide.header1-slide
          .header1-slide__body
            nav.header1-slide-list
              ul
                li
                  a.header1-slide__link(href="#") Главная  
                li
                  a.header1-slide__link(href="#") Проекты  
      .header1__text Меню

section#cupe.cupe
  .cupe__wrapper
    .container
      .cupe__plaza.cupe-plaza
          .cupe-plaza__body.board24_jucb
            .cupe-plaza__column 
              .cupe-plaza__title Шкаф купе по индивидуальному заказу
              .cupe-plaza__district Район:
                span Московская обл., г. Балашиха
              .cupe-plaza__district Дата:
                span Июнь 2019г.
              .cupe-plaza__text Часто заказчики, оставшись недовольными качеством мебели, обращаются повторно к тому же поставщику. Интересно, какие чувства руководят ими в этот момент, и на что они надеются? Что в этот раз уж точно все будет по-другому? Или на то, что относительно невысокая цена может быть оправдана низким качеством и полным отсутствием сервиса? Часто заказчиков вводят в заблуждение до такой степени, что они не могут возразить, а приходят в себя уже после оформления договора и внесения оплаты. Клиенты компании J-UNO могут быть на сто процентов уверены в качестве продукции и сервиса. Мы не ставим своей целью заработать деньги любой ценой.
            .cupe-plaza__column.board24_jucc 
              .cupe-plaza__img
                .ibg.bg
                  img(src="assets/img/project/img-2.png",alt="img")
              a.cupe-plaza__button(href="#!")
                .button-color Посмотреть видео
      .cupe-plaza__text.cupe-plaza__text_no-gutters Для нас главное - дать клиенту то, что он действительно хочет! Мы работаем на репутацию. Поэтому многие заказчики обращаются к нам повторно. Мы не только изготавливаем мебель на заказ, но и даем рекомендации, помогаем подобрать материалы, таким образом, чтобы новое изделие гармонично вписалось в существующий интерьер, став с ним единым целым. Особое внимание уделяем проработке конструктива и эргономичности - каждый квадратный сантиметр пространства должен быть использован с максимальной пользой! Наши специалисты справляются с любыми сложностями. Мы никогда не оставляем без ответа ни один вопрос нашего клиента. Мы делаем все, чтобы, увидев готовый результат, заказчик ни на минуту не усомнился в правильности своего выбора.
      .cupe__tres.tres.board24_jucb
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-3.png",alt="")
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-4.png",alt="")
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-5.png",alt="")
      .cupe-plaza__text.cupe-plaza__text_no-gutters.board24_m14 К нам обратился заказчик с просьбой спроектировать вместительный шкаф-купе в гостиную, однако не имел никакого представления, каким он должен быть. Мы потратили несколько дней и перебрали большое количество материалов. В конечном итоге нашли то, что искали.
      .cupe__quatro.quatro.board24_jucb
        .quatro__img
          .ibg.bg
            img(src="assets/img/project/img-3.png",alt="")
        .quatro__img
          .ibg.bg
            img(src="assets/img/project/img-4.png",alt="")
        .quatro__img.board24_m40 
          .ibg.bg
            img(src="assets/img/project/img-5.png",alt="")
        .quatro__img.board24_m40
          .ibg.bg
            img(src="assets/img/project/img-5.png",alt="")
      .cupe-plaza__text.cupe-plaza__text_no-gutters.board24_m14 Чтобы двери-купе смотрелись легкими и невесомыми, мы использовали давно полюбившийся нам узкий профиль цвета “Графит”. Он не только смотрится весьма эстетично, но и обладает повышенной прочностью. Оттенок великолепно сочетается с межкомнатными дверями и напольным покрытием. В качестве вставок на дверях мы использовали стекло Lacobel и экокожу Continental, скомбинировав их в незамысловатом порядке, получив оригинальное сочетание. Каркас шкафа изготовили из панелей от итальянского производителя Smart, текстура “Светлый камень”.
      .cupe__tres.tres.board24_jucb
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-3.png",alt="")
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-4.png",alt="")
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-5.png",alt="")
      .cupe-plaza__text.cupe-plaza__text_no-gutters.board24_m14 Справа и слева установили полки из прозрачного стекла с прочными и, в то же время, изящными держателями. На них можно разместить памятные фотографии, статуэтки, кашпо, сувениры. Стеклянные элементы зрительно расширяют пространство и создают непередаваемую игру света за счет своей отражающей способности.  

      .cupe__quatro.quatro.board24_jucb
        .quatro__img
          .ibg.bg
            img(src="assets/img/project/img-3.png",alt="")
        .quatro__img
          .ibg.bg
            img(src="assets/img/project/img-4.png",alt="")
        .quatro__img.board24_m40 
          .ibg.bg
            img(src="assets/img/project/img-5.png",alt="")
        .quatro__img.board24_m40
          .ibg.bg
            img(src="assets/img/project/img-5.png",alt="")
      .cupe-plaza__text.cupe-plaza__text_no-gutters.board24_m14 Несмотря на наличие натяжного потолка, шкаф получился в полную высоту комнаты. В качестве внутреннего наполнения слева установили ряд полок и выдвижных ящиков для хранения. Справа оборудовали штангу под вешалки для одежды, а также три полки: внизу - для обуви, наверху - для хранения сезонных вещей. В выдвижных ящиках использовали механизмы с доводчиками Momento Blumotion от компании Blum, чья продукция нас ни разу не подвела! Они обеспечивают плавный ход без заеданий и избавляют от раздражающих хлопков.
      .cupe__tres-mini.tres.board24_jucb
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-3.png",alt="")
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-4.png",alt="")
        .tres__img
          .ibg.bg
            img(src="assets/img/project/img-5.png",alt="")
      .cupe-plaza__text.cupe-plaza__text_no-gutters.board24_m14 Заказчик похвалил наш креативный подход и заметил, что мы отлично справились с задачей. Впрочем, это было не первое его обращение в нашу компанию. Мы всегда рады оправдать доверие наших клиентов, поэтому в своей работе стараемся выкладываться по максимуму.
      .cont-column__body
        h3.cont-column__title Повторить этот проект у Вас?
        .cont-column__discription.board24_m20 После отправки данных мы свяжемся с вами в течение 1 часа 
        form.cont-column__form
          .cont-column__in.board24_m15 
            input#username(type='text', name='username', placeholder='Введите ваше имя', required='')
            img(src="assets/img/link/link-pers.png",alt="img")
          .cont-column__in.board24_m20
            input#phone(type='text', name='phone', placeholder='Введите номер телефона', required='')
            img(src="assets/img/link/link-phone.png",alt="img")
          .cont-column__button.board24_m15  
            input(type='submit', name='submit', value='Давайте знакомиться')
            .button-color
        .cont-column__confidence Нажимая кнопку вы соглашаетесь на  
          a(href="#")
            span обработку персональных данных
        .cont-column__social.board24_m15   Или напишите нам напрямую удобным вам способом
        .cont-column__icons
          a.icon-link(href="#")
            img(src="assets/img/link/link-svg-3.svg",alt="img") 
          a.icon-link(href="#")
            img.ua(src="assets/img/thanks/va.png",alt="img") 
          a.icon-link(href="#")
            img(src="assets/img/link/link-svg-2.svg",alt="img") 
          a.icon-link(href="#")
            img(src="assets/img/link/link-svg-1.svg",alt="img") 

section#cabinet.cabinet
  .cabinet__wrapper
    .ibg.bg
      img(src="assets/img/project/main_pic.png",alt="img")

    .header1.header-project 
      a.header1__logo(href="#")
        img(src="assets/img/header/logo.png" ,alt="logo")
      .header1__burger.icon-menu-1-1
        span
        span
        span
        .header1__slide.header1-1__slide.header1-slide
          .header1-slide__body
            nav.header1-slide-list
              ul
                li
                  a.header1-slide__link(href="#") Главная  
                li
                  a.header1-slide__link(href="#") Проекты  
      .header1__text Меню






