section#header1.header1
  .header1__wrapper
    .container
      .header1__body
        a.header1__logo(href="#")
          img(src="assets/img/header/logo.png" ,alt="logo")
        .header1__discription Надёжные партнеры дизайнеров 
          p фабрика производства мебели на заказ 
          p работаем с 2010 года по Москве и МО 200 км
        .header1__burger.icon-menu-1-1
          span
          span
          span
          .header1__slide.header1-1__slide.header1-slide
            .header1-slide__body
              nav.header1-slide-list
                ul
                  li
                    a.header1-slide__link(href="#") Главная  
                  li
                    a.header1-slide__link(href="#") Проекты  
        .header1__text Меню
