include ../utils/mixins

header#header.header
  .header__body.container
    a.header__logo(href="#")
      img(src="assets/img/header/logo.png",alt="logo")  
    .header__discription Надёжные партнеры дизайнеров 
      p фабрика производства мебели на заказ 
      p работаем с 2010 года по Москве и МО 200 км
    .header1__burger.icon-menu-1
      span
      span
      span
      .header1__slide.header1-slide.header__slide
        .header1-slide__body
           nav.header1-slide-list
            ul
              li
                a.header1-slide__link(href="#") Главная  
              li
                a.header1-slide__link(href="#") Проекты  
    .header1__text Меню
    .header__icons.header-icons
      .header-icons__body
        a.tel(href="#")
          img(src="assets/img/header/tg.svg",alt="img")
        a.wa(href="#")
          img(src="assets/img/header/wa.svg",alt="img")
    .header__tel.header-tel
      .header-tel__body
        .header-tel__phone +7 (926) 844-43-33
        a.header-tel__text(href="#")
          span Перезвоните мне
 




section#create.create
  .create__wrapper
    .bg
      img(src="assets/img/header/header-bg.png",alt="header-bg")
    .container
      .create__body
        h2.create__title  Создадим дизайнерскую мебель, 
          br
          span для вашего проекта, как на картинке точно 
          br
          span в срок, избавив вас от стресса и хлопот
        .create__text
          img(src="assets/img/header/win1.svg",alt="")
          p Создали вместе с дизайнерами 
          p свыше 3250 объектов за последние 8 лет
        .create__button
          .button-color
            a.button-color__link(href="#")
              span Обсудить проект
          img(src="assets/img/header/img-1.png",alt="")
          .create__text1 Подскажем  сильные 
            br
            span и слабые стороны вашего проекта 
            br
            span с технологического процесса
        .content-create__player.player
          .player__body
            .player__text От звонка до установки мебели. Покажем за 4 мин
            a.player__triangle(href="#")
              img(src="assets/img/header/arrow-color.svg",alt="img")
            .player__arc
              img(src="assets/img/header/Mask-Group.png",alt="img")
            .player__arc.player__arc_big
              img(src="assets/img/header/Mask-Group-big.png",alt="img") 


